.product-blocks .nav-items{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-blocks .img-ico{
    vertical-align: middle;
    margin-right:10px;
    width:60px;
    height:60px;
}
.product-blocks .nav-items .tap-items span{
    display: inline-block;font-size:14px;padding:10px 20px;border-bottom: 2px solid transparent;
    position: relative; top:1px; cursor: pointer;
}
.product-blocks .nav-items span.active{
    border-bottom: 2px solid #1890ff;color: #1890ff;
}
.product-blocks ul.search-blocks{
    display: flex;justify-content: flex-start;margin-top:30px;font-size:14px;
}
.product-blocks li.items{
    text-align: center;margin-right:10px;display: flex;justify-content: space-between;
    align-items: center;
}
.product-blocks li.items input,.product-blocks li.items .ant-input{height:32px;line-height:32px;}
.ant-select-selection{height:32px;}
.product-blocks li label{display:inline-block;width:100px;}
.product-blocks li input{text-align: left;}
.product-blocks li .search-list{position: relative;}
.product-blocks li .search-list .ant-list-bordered{
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    position: absolute;
    z-index: 9999;
    background: #fff;
    left: 0;
    right: 0;
    border: 1px solid #000;
}
.product-blocks li .ant-select-selection--single{height: 32px;}
.product-blocks li  .ant-select-selection__rendered{line-height: 32px;}
.ml10{margin:0 10px;}
.opearte-blocks span{cursor: pointer; color:#1890ff;}
.product-blocks .table-box{margin-top:30px;}
.add-blocks .hide{display: none!important;}
.add-blocks .form .ant-form-item{display: flex;}
.add-blocks .form .ant-form-item .ant-form-item-control-wrapper{width: 80%;}
.add-blocks .ant-form-item-label label{display: inline-block;width:120px;}
.ant-form-item-control-wrapper img{width:200px;height: 200px;}
.add-blocks .ant-upload.ant-upload-select-picture-card{width:150px;height:150px;}
.add-blocks .ant-form-item-children input{width:60%;margin-right:10px;}
.add-blocks .ql-snow .ql-picker{line-height:24px;}
.add-blocks .typeedit-blocks{width:60%;}
.add-blocks .content{
    display: flex;margin-bottom:24px;
}
.add-blocks .content .ant-form-item-control-wrapper{
    width:60%;display: flex;align-items: center;
}
.add-blocks .content .ant-form-item-control-wrapper button{margin-left:5%;}
.g-tc{text-align:center;}
.h400{height:400px;}
.add-blocks .form .ant-cascader-picker{width:60%;}
.add-blocks .form .ant-cascader-picker input{width:100%;}
.col-md-6 {width: 392px;padding-left: 0px;padding-right: 15px;position: relative;}
.col-md-6 input.coverfile{z-index: 2;width: 150px;height: 150px;position: absolute;left:0;top:0;opacity: 0;cursor: pointer;}
.col-md-6 .show-pic{display: block;position: absolute;top:0;width:150px;height: 150px;border:1px dashed #d9d9d9;cursor: pointer;}
.ant-upload.ant-upload-select-picture-card {
    border: 1px dashed #d9d9d9;
    width: 100px;
    height: 100px;
    padding: 24px 0;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
}
.ant-upload>span {
    display: block;
    width: 100%;
    color: #9a9a9a;
    font-size: 12px;
    outline: none;
}
.ant-upload-text{line-height: 25px;}
.show-img{position: relative;}
.btn-blocks{
  margin-top:20px;
}
input{cursor: pointer;}