.type-blocks{
    display: flex;justify-content:flex-start;font-size:14px;
}
.type-blocks .title{font-size:16px;}
.type-blocks .left{width:30%;}
.type-blocks .right{width:65%;margin-left:5%;}
.type-blocks .left button{margin-top:20px;}
.typeedit-blocks .ant-row{
    display: flex;
}
.typeedit-blocks .ant-row .ant-form-item-label{
    width:100px;
}
.typeedit-blocks .ant-row .ant-form-item-control-wrapper{width:60%;}