#deviceManagement {
  .top {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 15px;
    margin: 15px;
    .searchInput {
      width: 300px;
      margin-right: 15px;
    }
    display: flex;
    justify-content: flex-end;
  }
  .content {
    .status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #e4e4e4;
      line-height: 40px;
      li {
        text-align: center;
      }
    }
  }
  .default {
    width: 100%;
    line-height: 500px;
    text-align: center;
    font-size: 28px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
}